.code {
  font-family: MyFancyCustomFont, monospace;
  font-size: inherit;
  background: #dfe2ec;
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: .1rem .3rem .2rem;
  border-radius: .2rem;
}
